body {
    text-align: center;
}

.hidden {
    display: none;
}

.leaderboard-tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tab-button {
    background: var(--btn-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.tab-button:hover {
    background: #3da94f;
}

.tab-button.active {
    background: #81b89b;
    font-weight: bold;
}

.leaderboard-container {
    background: var(--box-color);
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    color: var(--text-color-l);
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}
th {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
}
td {
    font-size: 16px;
}
tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
}
.group-selector {
    margin: 20px 0;
    font-size: 20px;
}
.group-selector select {
    padding: 8px;
    border-radius: 5px;
    background: var(--selector-color);
    color: #1E4421;
    border: none;
    font-size: 16px;
}
.current-user {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
}

.leaderboard-container {
    background: rgba(30, 68, 33, 0.6);
    max-width: 90%;
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.profileLink:link, .profileLink:visited, .profileLink:active {
    color: black;
    transition: color 0.3s ease;
    text-decoration: none;
}

.profileLink:hover {
    color: #81b89b;
    text-decoration: none;
}

.top-1 {
    background: gold !important;
    color: black;
}

.top-2 {
    background: silver !important;
    color: black;
}

.top-3 {
    background: #cd7f32 !important; 
    color: black;
}

/* Light Mode */
:root {
    --box-color: #1E4421;
    --text-color-l: #ffffff;
    --btn-color: #2f7935;
    --bg-color: #99D887;
    --selector-color: #99D887;
}

/* Dark Mode */
.dark-mode {
    --box-color: #2f7935;
    --text-color-l: #e0e0e0;
    --btn-color: #73c47a;
    --selector-color: #81b473;
}