{% extends "layout.html" %}
{% load static %}

{% block title %}My Pet - EcoPet{% endblock %}

{% block content %}
    <link rel="stylesheet" href ="{% static 'pets/css/mypet.css' %}">

    <div class="pet-container">
        <div class="pet-header">
            {% if pet %}
                {{ pet.name }}
            {% else %}
                Default Pet
            {% endif %}
        </div>
        <div class="pet-content">
            <div class="pet-image">
                {% if pet and pet.type.base_image %}
                    <img src="{{ pet.type.base_image.url }}" alt="{{ pet.name }}">
                {% else %}
                    <img src="{% static 'media/demoPet.png' %}" alt="Demo Pet Image">
                {% endif %}
            </div>
            <div class="pet-details">
                <p><strong>Type:</strong>
                    {% if pet %}
                        {{ pet.type.name }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
                <p><strong>Owner:</strong>
                    {% if pet %}
                        {{ pet.owner.username }}
                    {% else %}
                        N/A
                    {% endif %}
                </p>
                <p><strong>Points:</strong>
                    {% if request.user.profile %}
                        {{ request.user.profile.points }}
                    {% else %}
                        0
                    {% endif %}
                </p>

            </div>
        </div>
        <a href="#" class="accessorise-btn">Accessorise Here</a>
    </div>
{% endblock %}
