body {
    background-color: #99D887;
}

.hero {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background: url("/static/media/mapImage.jpg");
    background-size: cover;
    padding: 80px 0;
    overflow: hidden;
}

.profileLink:link, .profileLink:visited, .profileLink:active {
    color: #121212;
    transition: color 0.3s ease;
}

.profileLink:hover {
    color: #1c9a58;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(6px);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 0 15px;
}

.btn-green-dark {
    background-color: #165b33;
    border-color: #1d2d24;
    color: #fff;
    transition: background-color 0.2s, border-color 0.2s;
}
.btn-green-dark:hover {
    color: #ffffff;
    background-color: #267e48;
}