{% extends 'layout.html' %}
{% load static %}

{% block title %}EcoPet - Feature List{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'locations/locationStyle.css' %}">
{% endblock %}


{% block content %}
    <h1>Feature List</h1>
    <p>Explore various sustainability features available in EcoPet.</p>

    <div class="feature-list">
        {% for feature in feature_type_list %}
            <article class="feature-item">
                <h4>
                    <a href="{% url 'locations:generic-feature' id_arg=feature.id %}">
                        {{ feature.name }}
                    </a>
                </h4>
                <p>{{ feature.description }}</p>
                <img src="{{ feature.generic_img.url }}" alt="{{ feature.name }}"
                     class="feature-img">
            </article>
        {% endfor %}
    </div>
{% endblock %}
