{% extends 'layout.html' %}
{% load static %}

{% block title %}EcoPet - Feature Type{% endblock %}

{% block extrahead %}
    <meta charset="UTF-8">
    <title>{{ feature_type.name }}</title>
    <style>
        .center-content {
            text-align: center;
        }
        .center-content img {
            display: block;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>{{ feature_type.name }}</h1>
        <br>
        <img
                src="{{ feature_type.generic_img.url }}"
                alt="Image of {{ feature_type.name }}"
        />

        <p>{{ generic_feature.description }}</p>
    </div>
{% endblock %}