{% extends 'layout.html' %}
{% load static %}

{% block title %}EcoPet - Feature Type{% endblock %}

{% block extrahead %}
    <meta charset="UTF-8">
    <title>{{ feature_type.name }}</title>
    <link rel="stylesheet" href="{% static 'locations/css/features.css' %}">
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>{{ feature_type.name }}</h1>
        <br>
        <img
                src="{{ feature_type.generic_img.url }}"
                alt="Image of {{ feature_type.name }}"
                style="width: 50vw; height: auto;"
        />

        <p>{{ generic_feature.description }}</p>
    </div>
{% endblock %}