{% extends 'layout.html' %}
{% load static %}

{% block title %}EcoPet - Feature Instance{% endblock %}

{% block extrahead %}
    <meta charset="UTF-8">
    <title>{{ feature_instance.feature.name }}</title>
    <link rel="stylesheet" href="{% static 'locations/css/features.css' %}">

    <style>
    body {
            background-color: #99D887;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>✨You have reached the {{ feature_instance.name }}✨</h1>
        <h3>Lat: {{ feature_instance.latitude }}, Lon: {{ feature_instance.longitude }},
            Code: {{ feature_instance.slug }}</h3>
        <br>
        <img
                src="{{ feature_instance.image.url }}"
                alt="Image of {{ feature_instance.name }}"
                style="width: 50vw; height: auto;"
        />

        <br>
        <br>
        <h2> About this Feature </h2>
        <h3> {{ feature_instance.feature.name }}</h3>
        <p>{{ feature_instance.feature.description }}</p>
    </div>
{% endblock %}
