{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'locations/locationStyle.css' %}">
{% endblock %}


{% block content %}
    <h1>Location Home Page</h1>
    <p>Welcome to EcoPet! Explore locations and complete challenges with your pet.</p>
    <button onclick="window.location.href='{% url 'locations:map' %}'">Explore Map</button>
    <button onclick="window.location.href='{% url 'locations:generic-feature-list' %}'">View
        Features
    </button>
{% endblock %}
