.navbar {
    width: 100%;
    background: #28963D;
    padding: 15px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}
.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 0 7px;
}
.navbar a:hover {
    color: grey;
}
.footer {
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-align: center;
}