{% extends 'layout.html' %}
{% load static %}

{% block title %}Change Password - EcoPet{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/styleAll.css' %}">

    <script>
        const streakURL = "{% url 'challenges:update_streak' %}";
        const updateLocURL = "{% url 'users:update_location' %}";
        const csrfToken = "{{ csrf_token }}";
    </script>

    <script type="module" src="{% static 'locationUpdater.js' %}"></script>
    <script type="module" src="{% static 'updateChallenges.js' %}"></script>
    <style>

        .form-submit {
            margin-top: 20px;
            background-color: #8fbc8f;
            border: none;
            color: white;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }
        .form-submit:hover {
            background-color: #66cdaa;
        }
    </style>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: flex-start; min-height: 100vh; padding: 20px;">
    <div style="width: 100%; max-width: 500px; background-color: darkgreen; padding: 20px; margin-top: 70px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.15); color: white;">
        <h1 style="text-align: center; color: white;">Change Password</h1>
        <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
        <button type="submit">Change Password</button>
    </form>
    </div>
</div>
{% endblock %}
