<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>

 <h1>Register a New User</h1>
   <form class="form-with-validation" action="{% url 'users:registration' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}<br>

                <!-- Display field-specific errors -->
                {% if field.errors %}
                    <div class="error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Optionally display help text -->
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
            </div>
            <br>
        {% endfor %}
        <button class="form-submit" type="submit">Submit</button>
    </form>
</body>
</html>